@import "tailwindcss";
@config "../tailwind.config.js";
@plugin "@tailwindcss/typography";

@layer base {
  @font-face {
    font-family: "western";
    src: url("./assets/fonts/WEST____.TTF");
    font-display: swap;
  }
  @font-face {
    font-family: "roboto";
    src: url("./assets/fonts/Roboto-Regular.ttf");
    font-display: swap;
  }
}

@layer utilities {
  .border-custom {
    border-image: linear-gradient(
        to bottom,
        var(--color-amber-400),
        var(--color-amber-600)
      )
      1;
  }
  .border-custom-divider {
    border-image: linear-gradient(
        to left,
        transparent,
        var(--color-amber-400),
        var(--color-amber-600),
        var(--color-amber-400),
        transparent
      )
      1;
  }
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100%;
}

body {
  margin: 0;
}

/* .mask-paint-1 {
  mask-image: url("./assets/pintura1.svg");
  mask-repeat: no-repeat;

  -webkit-mask-image: url("./assets/pintura1.svg");
  -webkit-mask-repeat: no-repeat;
} */

@media only screen and (min-width: 640px) {
  .section {
    padding: 2rem;
  }
}
